



{% extends "template.html" %} 
{% block title %} Inicio {% endblock %} 
{% block content %} 
<br><br>
        <h1 class="header center orange-text text-darken-3">
          Invest, Trade or Buy
        </h1>
        <div class="row center">
          <h5 class="header col s12 light">
            Trade the most profitable cryptocurrencies on the market
          </h5>
        </div>
        <div class="row center">
          <a
            href="/registro"
            class="btn-large waves-effect waves-light orange darken-3"
            >Start</a
          >
        </div>
        <br/><br/>
{% endblock %} 