{% extends "template.html" %} {% block title %} Registro {% endblock %} {% block
content %} <br /><br />

<div class="row card-panel">
  <form class="col s12">
    <div class="input-field col s6">
      <i class="material-icons prefix">attach_money</i>
      <input
        type="text"
        id="money_from"
        class="autocomplete"
        onchange="input_change()"
      />
      <label for="money_from">Money from</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">monetization_on</i>
      <input
        type="text"
        id="money_to"
        class="autocomplete"
        onchange="input_change()"
      />
      <label for="money_to">Money to</label>
    </div>
    <div class="center input-field col s6">
      <label for="amount"> Amount</label>
      <input type="number" id="amount" onkeyup="input_change()" />
    </div>
    <div class="center input-field col s6">
      <label for="result" id="result_label"> Preview</label>
      <input type="number" disabled id="result" />
    </div>
  </form>
</div>

<div class="row center">
  <a
    href="#"
    class="btn-large waves-effect waves-light orange darken-3"
    id="send"
    disabled
    onclick="send_data()"
    >Trade</a
  >
</div>
<br /><br />
<div class="row">
  <div class="col s12">
    <ul id="tabs" class="tabs">
      <li class="tab col s3"><a href="#test1">Resultados</a></li>
      <li class="tab col s3"><a href="#test2">Inversion</a></li>
      <li class="tab col s3"><a href="#test3">Cryptos</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>fecha</th>
          <th>hora</th>
          <th>From</th>
          <th>Cantidad</th>
          <th>To</th>
          <th>Cantidad</th>
        </tr>
      </thead>

      <tbody id="tbody"></tbody>
    </table>
  </div>

  <div id="test2" class="col s12">
    <div id="cryptoValue" class="input-field col s3">
      <label for="invest" class="active">invertido: </label>
      <input id="invest" disabled />
    </div>

    <div id="cryptoValue" class="input-field col s3">
      <label for="actual_value" class="active">valor actual: </label>
      <input id="actual_value" disabled />
    </div>
    <div id="cryptoValue" class="input-field col s3">
      <label for="diferencia" class="active">Diferencia: </label>
      <input id="diferencia" disabled />
    </div>
  </div>

  <div id="test3" class="input-field s12">
    <div id="cryptoMoney" class="input-field col s3">
      <input
        id="crypto_money"
        class="autocomplete"
        type="text"
        onchange="get_movements_cryptos()"
      />
      <label for="crypto_money">Select your crypto</label>
    </div>
    <div id="crypto_amount_div" class="input-field col s3">
      <label for="crypto_amount" id="crypto_amount_label">amount </label>
      <input type="number" id="crypto_amount" disabled />
    </div>

    <div id="cryptoValue" class="input-field col s6">
      <label for="crypto_money_value" id="crypto_money_value_label"
        >crypto value €</label
      >
      <input type="number" id="crypto_money_value" disabled />
    </div>
  </div>
</div>

{% endblock %} {% block script %}

<script 
src="{{ url_for('static', filename='js/api_key.js') }}"
></script>

<script 
src="{{ url_for('static', filename='js/app.js') }}"
></script>
<script>
  var instance = M.Tabs.init(document.getElementById("tabs"), {});
</script>

{% endblock %}
